.approval-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 60%;
    margin: auto;    
  }
  .approval-card h2 {
    text-align: center;
    background-color: #164863;
    color: white;
    border-radius: 20px;
    width: 100%;
  }
  
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 80px;
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .detail-item strong{
    color: #164863;
  }
  
  .icon {
    font-size: 24px;
    color: #B0D2DE;
  }
  
  .approval-status {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid #ddd;
  }
  
  .status-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .status-item span {
    font-size: 14px;
    color: #333;
  }
  
  .approved {
    color: #28a745;
    font-size: 18px;
  }
  
  .pending {
    color: #ffc107;
    font-size: 18px;
  }
  