.approval-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 60%;
    margin: auto;    
  }
  .approval-card h2 {
    text-align: center;
    background-color: #164863;
    color: white;
    border-radius: 20px;
    width: 100%;
  }
  
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 80px;
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .detail-item strong{
    color: #164863;
  }
  
  .icon {
    font-size: 24px;
    color: #B0D2DE;
  }
  
  .approval-status {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid #ddd;
  }
  
  .status-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .status-item span {
    font-size: 14px;
    color: #333;
  }
  
  .approved {
    color: #28a745;
    font-size: 18px;
  }
  
  .pending {
    color: #ffc107;
    font-size: 18px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s;
    margin-top: 5px;
    resize: none;
  }
  
  textarea:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.2);

  }
  
  /* Dropdown Styling */
  select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 5px;
  }
  
  select:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.2);
  }
  
  select option {
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
  }
  
  /* Submit Button Styling */
  .approve-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
  }
  
  .approve-btn:hover {
    background-color: #2563eb;
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.2);
  }
  
  .approve-btn:active {
    background-color: #1d4ed8;
  }