.custom-tooltip {
    color: white;
    display: flex;
    text-align: center;
    background-color: #1e293b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 50px; 
    border-radius: 8px;
    overflow: hidden;
}
    
.tooltip-value {
    margin-left: 8px; 
    margin: 0;
}
.tooltip-label {
    font-size: 1.125rem; 
    font-weight: 500; 
}
      