.login-form {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: rgba(244, 244, 244, 0.9); 
  padding: 60px 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; 
  max-width: 90%; 
}
.error{
  color:red;
  margin-top: 20px;
  font-size: 18px;
  text-align: center  ;
}
.flower-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.flower-logo img{
  width: 200px;
  height: 100px;
  border-radius: 20px;
  background-color: transparent;
  
  
  margin-bottom: 10px;
}

.text-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-logo h1 {
  font-size: 32px;
  font-weight: bold;
  color: green;
}

.text-logo h2 {
  font-size: 18px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #1e620a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left:33%;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}