.grid-containers {
    display: grid;
    width: 100%;
    max-width: 1400px;
    gap: 40px;
  }
  
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1280px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  
  .grid-item-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: powderblue;
    margin-bottom: 0px;
  }
  
  .home-grid-club{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 60px;
    width: 100%;
    max-width: 1400px;  
  }